.candidates-section {
  padding: 4rem 2rem;
  /* background: #f9f9f9; */
  text-align: center;
}

.candidates-title {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: #222;
}

.candidates-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Creates 4 equal-width columns */
  gap: 2rem;
}

.candidate-card {
  background: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.candidate-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.candidate-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.candidate-info {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 1rem;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.candidate-card:hover .candidate-info {
  visibility: visible;
  opacity: 1;
}

.candidate-info h3 {
  font-size: 1.5rem;
  margin: 0;
}

.candidate-info p {
  font-size: 1rem;
}

/* Responsive */
@media (max-width: 768px) {
  .candidates-title {
    font-size: 2rem;
  }
  .candidates-grid {
    grid-template-columns: repeat(1, 1fr); /* Creates 4 equal-width columns */
  }
}
