.footer {
  background: #a37051;
  color: white;
  padding: 20px;
  border-top: 1px solid #ddd;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}

.footer-section {
  flex: 1 1 220px;
  margin: 10px;
}

.footer-section h2,
.footer-section h3 {
  font-size: 20px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.footer-section p,
.footer-section li,
.footer-bottom {
  font-weight: 300;
  font-size: clamp(10px, 5vw, 18px);
  line-height: clamp(1.5, 1.6, 1.8);
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section a {
  color: white;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  gap: 15px;
  font-size: 18px;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #ddd;
  font-size: 13px;
  margin-top: 20px;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-section {
    margin-bottom: 30px;
  }

  .social-icons {
    justify-content: center;
  }
}
