.home {
  font-family: "Cormorant Garamond", serif;
  background-color: #f5fdf6;
}

.hero {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Video background */
.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

/* Overlay with dark background and text */
.overlay {
  position: relative;
  z-index: 1;
  background-color: #f5fdf6;
  padding: 1.2rem;
  text-align: center;
  color: white;
  border: 1px solid #ddd;
}

.hero-title {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.hero-subtitle {
  font-size: 1.5rem;
}

.cta {
  padding: 3rem 2rem;
  text-align: center;
  background-color: #f5fdf6;
}
.cta h2 {
  color: #122;
  font-size: clamp(30px, 2vw + 1rem, 40px);
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: calc(0.8 * clamp(50px, 2vw + 1rem, 65px));
}
.cta p {
  font-weight: 300;
  font-size: clamp(10px, 5vw, 18px);
  line-height: clamp(1.5, 1.6, 1.8);
  text-align: left;
  margin-bottom: calc(0.8 * clamp(50px, 2vw + 1rem, 65px));
}
.cta-button {
  background-color: #f5fdf6;
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.3s;
}

/* Responsive styles */
@media (max-width: 768px) {
  .hero-title {
    font-size: 2rem;
  }

  .hero-subtitle {
    font-size: 1rem;
  }
}
