.membership-form-container {
  width: auto;
  margin: auto;
  padding: 5rem;
  margin: 3rem;
  border-radius: 10px;
  background: #dddcdc;
  font-family: "Cormorant Garamond", serif;
}

h1 {
  color: #000;
  font-size: clamp(32px, 1.5vw + 1rem, 40px);
  font-weight: 600;
  margin-bottom: calc(0.8 * clamp(10px, 2vw + 1rem, 15px));
}

.subheading {
  font-size: clamp(24px, 1.5vw + 1rem, 30px);
  font-weight: 600;
  margin-bottom: calc(0.8 * clamp(10px, 2vw + 1rem, 15px));
  margin-top: calc(0.8 * clamp(10px, 2vw + 1rem, 15px));
  color: green;
}

.description {
  font-size: clamp(20px, 1.5vw + 1rem, 22px);
  font-weight: 550;
  margin-bottom: calc(0.8 * clamp(10px, 2vw + 1rem, 15px));
  color: red;
}

.membership-form label {
  display: block;
  margin: 1rem 0 0.3rem;
  font-weight: 500;
  font-weight: 300;
  font-size: clamp(12px, 5vw, 18px);
  font-family: "Cormorant Garamond", serif;
}

.membership-form input,
.membership-form select {
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #f5fdf6;
  outline: none;
  background: #eeeded;
  font-weight: 300;
  font-size: clamp(12px, 5vw, 18px);
  font-family: "Cormorant Garamond", serif;
}

.checkbox-group {
  margin-top: 0.5rem;
}

.checkbox-group label {
  display: block;
  margin: 0.3rem 0;
}

button[type="submit"] {
  background: #a37051;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  margin-top: 1.5rem;
  cursor: pointer;
  width: 100%;
}

button[type="submit"]:hover {
  background: #fd7724;
}

.payment-info {
  margin-top: 2rem;
  padding: 1rem;
  border-left: 4px solid #27ae60;
  border-radius: 8px;
  background: #eeeded;
  font-family: "Cormorant Garamond", serif;
}

.payment-info h3 {
  margin-top: 0;
  color: #a37051;
}

.payment-info ul {
  padding-left: 1rem;
}

.payment-info li {
  margin-bottom: 0.5rem;
}
@media (max-width: 768px) {
  .membership-form-container {
    padding: 2.8rem;
    margin: 1.5rem;
  }
  .membership-form label {
    display: block;
    margin: 1rem 0 0.3rem;
    font-weight: 500;
    font-weight: 300;
    font-size: clamp(12px, 5vw, 18px);
  }

  .membership-form input,
  .membership-form select {
    font-weight: 400;
    font-size: clamp(12px, 5vw, 18px);
  }
}
