.membership-form-container {
  width: auto;
  background-color: #a79f9a;
  margin: auto;
  padding: 5rem;
  margin: 3rem;
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: #2c3e50;
}

.subheading {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: red;
}

.description {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #555;
}

.membership-form label {
  display: block;
  margin: 1rem 0 0.3rem;
  font-weight: 500;
}

.membership-form input,
.membership-form select {
  width: 100%;
  padding: 0.6rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.checkbox-group {
  margin-top: 0.5rem;
}

.checkbox-group label {
  display: block;
  margin: 0.3rem 0;
}

button[type="submit"] {
  background: #a37051;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  margin-top: 1.5rem;
  cursor: pointer;
  width: 100%;
}

button[type="submit"]:hover {
  background: #fd7724;
}

.payment-info {
  background-color: #fff;
  margin-top: 2rem;
  padding: 1rem;
  border-left: 4px solid #27ae60;
  border-radius: 8px;
}

.payment-info h3 {
  margin-top: 0;
  color: #27ae60;
  color: #a37051;
}

.payment-info ul {
  padding-left: 1rem;
}

.payment-info li {
  margin-bottom: 0.5rem;
}
