.news-updates {
  padding: 2rem;
  font-family: "Cormorant Garamond", serif;
  background: #f5fdf6;
}

.news-updates h2 {
  text-align: center;
  color: #122;
  font-size: clamp(30px, 2vw + 1rem, 40px);
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: calc(0.8 * clamp(50px, 2vw + 1rem, 65px));
}

.tabs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
  padding: 1rem;
}

.tabs button {
  padding: 0.8rem 1.3rem;
  background: #dddcdc;
  border: none;
  border-radius: 1rem;
  font-weight: bold;
  color: #222;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
  font-family: "Cormorant Garamond", serif;
  font-size: clamp(14px, 1.5vw, 19px);
  line-height: clamp(1.5, 1.6, 1.8);
}

.tabs button.active,
.tabs button:hover {
  background: #a37051;
  color: #fff;
}

.table-wrapper {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #f5f5f5;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  font-family: "Cormorant Garamond", serif;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 1rem;
  text-align: left;
  vertical-align: top;
  font-weight: 300;
  font-size: clamp(12px, 5vw, 18px);
  line-height: clamp(1.5, 1.6, 1.8);
  margin-bottom: calc(0.8 * clamp(50px, 2vw + 1rem, 65px));
}

table th {
  background: #f3f3f3;
  font-size: clamp(20px, 1.5vw + 1rem, 22px);
  font-weight: 550;
  margin-bottom: calc(0.8 * clamp(10px, 2vw + 1rem, 15px));
  color: #111;
}

table tr:nth-child(even) {
  background: #f5fdf6;
}

@media (max-width: 768px) {
  .tabs {
    flex-direction: column;
    align-items: center;
    padding: 1.2rem;
  }

  .tabs button {
    width: 100%;
    text-align: center;
    width: 100%;
    padding: 1rem;
    margin: 0.8rem;
  }

  table th,
  table td {
    padding: 0.75rem;
  }
}
